{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}
{% load const %}
<html>
{% block css %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/cinema.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
{% endblock %}
{% block title %}Purchasing{% endblock %}
{% block content %}
<style type="text/css">
    .login {
        background-color: white;
        border: 2px solid #ff2351;
        border-radius: 8px;
        color: black;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        margin-top: 15px;
        margin-left: -380px;
    }
    .login:hover {
        background-color: #ff2351;
        color: white;
    }
</style>

<body>
<div class="bg-img" style="height: 380px;">
    <div class="top">
        <div class="left">
            <a href="#"><img src="{% static 'images/cinema.jpeg' %}" alt=""/></a>
            <div>
              <span style="color: white;">Cinema Name:</span><br>
              <span style="color: white;">{{cinema.name}}</span><br><br>
              <span style="color: white;">Address:</span><br>
              <span style="color: white;">{{cinema.address}}</span><br><br>
              <span style="color: white;">Phone:</span><br>
              <span style="color: white;">{{cinema.phone}}</span><br>
            </div>
        </div>
    </div>
</div>
    <!-- hall  -->
    <div class="title common clearfix" style="padding-top: 20px;">
        <div>
            <h1>Hall</h1>
        </div>
    </div><br>
    <hr style="width: 1250px; margin: 0 auto;">

    {% with c=-1 %}
    {% for i in hall %}
    <div class="site common">
        <div class="left">
            <p>Hall {{ i.hall__hall_num }} ({{ i.type }})</p>
        </div><br>
        <span>Session:</span><br><br>
        {% plus c as c %}
        {% for key,value in session.items %}
            {% if c == key %}
            {% for x in value %}
                    <input type="text" name="film" value="Film title: {{ x.film__title }}" disabled="disabled">
                    <input type="text" name="date" value="{{ x.date }}" disabled="disabled">
                    <input type="text" name="time" value="{{ x.time }}" disabled="disabled">

{#        <?php if ($_SESSION['login'] == true) {?>#}
        <span style="border: 1px solid; border-radius: 5px;">
        <a href="/ticket_action/?session_id={{ x.session_id }}">
        &nbsp; ${{ x.price }} purchase &nbsp;</a></span>
{#        <?php } else { ?>#}
{#                <span style="border: 1px solid; border-radius: 5px;">#}
{#                <a href="">&nbsp; login first &nbsp;</a></span>#}
{#            <?php } ?>#}
        <br><br>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
    {% endwith %}

<br>
<br>

</body>
{% endblock %}
</html>