{% load static %}
<!DOCTYPE html>
<html lang="en">
<head lang="en">
    <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Film Detail</title>
     <link rel="stylesheet" href="/static/css/index.css"/>
    <script src="/static/js/table.js"></script>
    <link rel="stylesheet" href="/static//css/Normal flow.css">
    <link rel="stylesheet" href="/static//css/cinema.css">
    <link rel="stylesheet" href="/static//css/common.css">

</head>
<style>
    .login {
        background-color: white;
        border: 2px solid #ff2351;
        border-radius: 8px;
        color: black;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        margin-top: 10px;
    }
    .login:hover {
        background-color: #ff2351;
        color: white;
    }
</style>

<body>
<!-- 导航栏 -->
<div class="nav">
        <div class="typeArea">
            <div class="loc">
                <div class="location">Admin</div>
                <div class="triangle"></div>
            </div>
            <ul>
                <li class="selected"><a href="/ad_film/">Films</a></li>
                <li><a href="/ad_cinemas/">Cinemas</a></li>
            </ul>
        </div>
    </div>
</div>

    <div style="padding: 50px">
        <h2 >Name: </h2>
        <p> {{ cinema.name }} </p>
        <h2>Address: </h2>
        <p> {{ cinema.address }} </p>
        <h2>Phone: </h2>
        <p> {{ cinema.phone }} </p>
    </div>



{#    <h1 > Hall </h1>#}


</body>
</html>